<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= page.title %></title>
</head>
<body>
<main>
    <article>
        <%- page.content %>
    </article>
</main>
<footer>
    <%- include footer.ejs %>
</footer>
</body>
</html>