pre {
    padding: 2px;
    border: solid lightgrey 1px;
}

img {
  max-width: 40%;
  height: auto;
}

blockquote {
    margin-inline-start: 12px;
    padding-left: 12px;
    border-left: 2px solid lightgrey;
}
